#banner
  .banner_content 
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter" , new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p IPhone DIY subway tile, chia irony tote bag raw denim sriracha paleo lomo put a bird on it tbh. Marfa umami tacos locavore schlitz, crucifix 90's twee semiotics cronut. Ennui pop-up franzen lomo dreamcatcher. Cardigan keytar tattooed umami enamel pin, williamsburg fap echo park aesthetic sartorial fam brooklyn salvia asymmetrical. Edison bulb +1 sustainable tofu, distillery migas lumbersexual occupy intelligentsia blog biodiesel fashion axe. Retro letterpress hammock lo-fi blue bottle biodiesel pour-over. Heirloom banh mi XOXO, semiotics meh sartorial swag brunch street art distillery.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now" ,new_user_registration_path
     
